@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#grid {
    width: 500px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

#time {
    display: inline;
    font-weight: bold;
    color: rgb(49, 49, 49);
}

table {
    width: 25%;
    border-collapse: collapse;
    background-color: #fad7f8;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #c205b8;
    color: white;
}